body{
    font-family: Roboto; 
    word-wrap: break-word   
}
.container {
    width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
  }
a{
    text-decoration: none;
    color: currentColor;
}
li{
    list-style: none;
}
h1,h2,h3,h4,h5,h6,html,main,body,p,ol,ul,li{
    margin: 0;
    padding: 0;
}
/* =============================HEADER====================== */
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 0;
    border-bottom: solid 1px #ECECEC;
}
.title-link{
    color: #2196F3;
    font-size: 26px;
    font-family: Raleway;
    font-weight: 700;
    letter-spacing: 0.78px;
}
.title-logo{
    color: black;
    font-size: 26px;
    font-family: Raleway;
    font-weight: 700;
    letter-spacing: 0.78px;
}
.link:hover{
    color: #2196F3;
}
.nav-list{
    display: flex;
    gap: 50px;
    margin-left: -125px;
}
.header-list{
    display: flex;
    gap: 50px;
}
.nav-item{
    color: #212121;;
    font-size: 14px;
    letter-spacing: 0.28px;
    font-weight: 500;
}
.header-link:hover{
    color:#2196F3;
}
.item-contact{
    color: #757575;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.28px;
}
.item-contact:hover{
    color: #2196F3;
}
.list-item{
    color:#212121;
    font-size: 16px;
    background-color:#F5F4FA;
    border-radius: 4px;
    text-align: center;
    display: inline-flex;
    border-radius: 4px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0.48px;
    padding: 6px 22px;
}
.active{
    position: relative;
}
.active::after{
    position: absolute;
    content: '';
    width: 100%;
    height: 4px;
    background-color: #2196F3;
    display: block;
    margin-top: 28px;
    border-radius: 2px;
}
.line{
    background-color: #ECECEC;
    margin-top: 0;
}
/* =========================MAIN====================== */
.main{
    margin-bottom: 94px;

    padding: 0;
}
.list-all{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    margin-top: 94px;
}
.list-item{
    color: #212121;
    background: #F5F4FA;
    border-radius: 4px;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0.48px;
    padding: 6px 22px;
}
.list-item:first-child{
    padding: 6px 25px;
}
.list-item:hover{
    color: #FFF;
    border-radius: 4px;
    background: #2196F3;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.10);
}
.icon{
    margin-top: 94px;

}
.icon-list{
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
    gap: 18px;
    padding: 0;
}
.item-icons{
    border: 1px solid #EEEEEE;
}
.item-icons:hover{
    box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
}
.item-icon-card{
    margin-bottom: 20px;
    display: flex;
}
.card-item-service{
    color: #212121;
    font-size: 18px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 1.08px;
    margin-left: 24px;
}
.card-text-service{
    color: #757575;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.48px;
    margin-bottom: 20px;
    margin-left: 24px;
}
.content{
    position: relative;
    overflow: hidden;
}
.overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(33, 150, 243, 0.90);
    top: 0;
    left: 0;
    transform: translateY(100%);
    transition: transform 500ms cubic-bezier(0.29, 0.48, 0.38, 0.97);
}
.content:hover .overlay {
    transform: translateY(0);
}
.overlay-text{
    width: 322px;
    color: #FFF;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.54px;
    padding: 63px 24px;
}
/* ============================FOOTER====================== */
.footer{
    display: flex;
    flex-wrap: wrap;
    background-color: #2F303A;
}
.footer-logo {
    padding-top: 60px;
    padding-bottom: 20px;
    display: flex;
    margin-left: 190px;
}
.footer-logo-first{
    color: #2196F3;
    font-family: Raleway;
    font-weight: 700;
    font-size: 26px;
    letter-spacing: 0.78px;
}
.footer-logo-second{
    color: #FFFFFF;
    font-family: Raleway;
    font-weight: 700;
    font-size: 26px;
    letter-spacing: 0.78px;
}

.footer-item{
    color: #FFFFFF;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.42px;
    display: flex;
    margin-left: 190px;
}
.footer-link{
    color:#FFFFFF99;    ;
    font-weight: 400;
    line-height: 24px;
    font-size: 14px;
    letter-spacing: 0.42px;
    display: flex;
    padding-bottom: 60px;
    margin-left: 190px;
}
.footer-link:nth-child(2){
    padding-bottom: 0;
}
.footer-list{
}
/* -----------------join----------------------- */
.join-title{
    color: rgba(255, 255, 255, 1);
font-size: 14px;
font-weight: 700;
line-height: 16.41px;
letter-spacing: 0.03em;
text-align: left;

padding-bottom: 32px;
}
.join{
    padding-top: 72px;
    padding-left: 70px;
}
.loin-div{
    background-image: url(../img/fon.svg);
background-size: contain;
width: 44px;
height: 44px;
background-repeat: no-repeat;
background-position: center;
}
.loin-div:hover{
    background-image: url(../img/team-animated.svg);
}
.join-list{
    display: flex;
    gap: 10px;
}
.join-item{
    display: flex;
    justify-content: center;  
    padding-top: 12px;
}
.join-img{
fill: rgba(255, 255, 255, 1);
}
.join-svg{
    width: 20px;
    height: 20px;
}
/* ------------------sudscription------------- */
.sudscription{
    margin-top: 72px;
    margin-left: 93px;
}
.sudscription-title{
    color: rgba(255, 255, 255, 1);
font-size: 14px;
font-weight: 700;
line-height: 16.41px;
letter-spacing: 0.03em;
text-align: left;
}
.sudscription-form{
    padding-top: 20px;
}
.sudscription-input{
    width: 358px;
height: 50px;
border-radius: 4px;
border: 1px solid gray;
background-color: rgba(47, 48, 58, 1);
}
.sudscription-svg{
    width: 24px;
height: 24px;
}
.sudscription-img{
    fill: rgba(255, 255, 255, 1);
}
.sudscription-button{
    background-color: rgba(33, 150, 243, 1);
    width: 200px;
    height: 55px;
    border-radius: 7px;
    margin-left: 12px;
}
.sudscription-span{
color: rgba(255, 255, 255, 1);
font-size: 16px;
font-weight: 700;
line-height: 30px;
letter-spacing: 0.06em;
text-align: center;

}