.container {
    width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
  }
body{
    font-family: Roboto; 
    word-wrap: break-word   
}
a{
    text-decoration: none;
    color: currentColor;
}
li{
    list-style: none;
}
/* =============================HEADER====================== */

h1,h2,h3,h4,h5,h6,html,main,body,p,ol,ul,li{
    margin: 0;
    padding: 0;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px;
    border-bottom: solid 1px #ECECEC;
}
.title-link{
    color: #2196F3;
    font-size: 26px;
    font-family: Raleway;
    font-weight: 700;
    letter-spacing: 0.78px;
}

.title-logo{
    color: black;
    font-size: 26px;
    font-family: Raleway;
    font-weight: 700;
    letter-spacing: 0.78px;
}
.subtitle-logo{
    color:#FFFFFF;
    font-size: 26px;
    font-family: Raleway;
    font-weight: 700;
    letter-spacing: 0.78px;
}
.title-button{
    color: #FFFFFF;
}
.link:hover{
    color: #2196F3;
}
.nav-list{
    display: flex;
    gap: 50px;
    margin-left: -125px;
}
    
.header-list{
    display: flex;
    gap: 50px;
}
.nav-item{
    color: #212121;;
    font-size: 14px;
    letter-spacing: 0.28px;
    font-weight: 500;
}
.header-link:hover{
    color:#2196F3;
}
.item-contact{
    color: #757575;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.28px;
}
.item-contact:hover{
    color: #2196F3;
}
/* =========================MAIN====================== */
main{


    padding: 0;
}
.hero{
    background-color: #2F303A;
    padding: 300px 0px 300px 0px;
}

.h1{
    color: #FFFFFF;
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    letter-spacing: 2.64px;
    text-transform: uppercase;
    text-align: center;
    display: flex;
    align-items: center;
    width: 696px;
}

.button{
    color: #FFFFFF;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.96px;
    font-weight: 700;
    border-radius: 4px;
    background: #2196F3;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    display: flex;
    margin-top: 30px;
    justify-content: center;
    align-items: center;
    width: 216px;
    height: 50px;
}
.tabs-list{
    display: flex;
    align-items: center;
    padding: 25px 0;
    margin: 94px 0;
    gap: 30px;
}
.tabs-item{
}
.tabs-item:last-child{
    margin: 0;
}
.tabs-img{
    border-radius: 4px; 
}
.tabs-div:nth-child(1){
    margin-left: 0;
}
.tabs-item:nth-child(1)::before{
    content:url("/img/antenna1.svg");

    width: 70px;
    height: 70px;

    background-color: #F5F4FA;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 80px;
    padding-bottom: 20px; 
}
.tabs-item:nth-child(2)::before{
    content: url("/img/clock1.svg");

    width: 70px;
    height: 70px;

    background-color: #F5F4FA;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 80px;
    padding-bottom: 20px; 
}
.tabs-item:nth-child(3)::before{
    content: url("/img/diagram1.svg");

    width: 70px;
    height: 70px;

    background-color: #F5F4FA;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 80px;
    padding-bottom: 20px; 
}
.tabs-item:nth-child(4)::before{
    content: url("/img/astronaut1.svg");

    width: 70px;
    height: 70px;
    
    background-color: #F5F4FA;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 80px;
    padding-bottom: 20px; 
}
.subtitle{
    color: #212121;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.42px;
    text-transform: uppercase;
    display: block;
    text-align: left;
    margin-top:30px;
}
.subtitle{
    margin-bottom: 10px;
}
.tabs-text{
    color: #757575;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.42px;
}
.work{
    color: #212121;
    font-weight: 700;
    font-size: 36px;
    letter-spacing: 1.08px;
    text-align: center;
    margin-bottom: 50px;
}
.team{
    background-color: #F5F4FA;
    margin-top: 94px;

}
.work-img{
    display: inline-flex;
    justify-content: space-between;
}
.team-subtitle{
    color: #212121;
    font-weight: 700;
    font-size: 36px;
    letter-spacing: 1.08px;
    text-align: center;
    padding-top: 94px;
    padding-bottom: 50px;

}
.team-list{
    display: flex;
justify-content: center;
    gap: 30px;
    padding-bottom: 94px;

}
.items{
    border-radius: 0px 0px 4px 4px;
    background: #FFFFFF;

}
.team-card{   
    margin-bottom: 30px;
}
.card-item{
    color: #212121;
    font-size: 18px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 1.08px;
}
.card-text{
    color: #757575;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.48px;
}
.img-title{
    color: #212121;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.48px;
    text-align: center;
    padding-bottom: 10px;

}
.img-text{
    color: #757575;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.48px;
    text-align: center;
    padding-bottom: 30px;

}
/* ============================FOOTER====================== */
.footer{
    background-color: #2F303A;
}
.footer-logo {
    padding-top: 60px;
    padding-bottom: 20px;
    display: flex;
    margin-left: 190px;
}
.footer-logo-first{
    color: #2196F3;
    font-family: Raleway;
    font-weight: 700;
    font-size: 26px;
    letter-spacing: 0.78px;
}
.footer-logo-second{
    color: #FFFFFF;
    font-family: Raleway;
    font-weight: 700;
    font-size: 26px;
    letter-spacing: 0.78px;
}

.footer-item{
    color: #FFFFFF;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.42px;
    display: flex;
    margin-left: 190px;
}
.footer-link{
    color:#FFFFFF99;    ;
    font-weight: 400;
    line-height: 24px;
    font-size: 14px;
    letter-spacing: 0.42px;
    display: flex;
    padding-bottom: 60px;
    margin-left: 190px;
}
.footer-link:nth-child(2){
    padding-bottom: 0;
}
