body{
    font-family: Roboto; 
    word-wrap: break-word   
}
.container {
    width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
  }
a{
    text-decoration: none;
    color: currentColor;
}
li{
    list-style: none;
}
h1,h2,h3,h4,h5,h6,html,main,body,p,ol,ul,li{
    margin: 0;
    padding: 0;
}
/* =============================HEADER====================== */
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px;
    border-bottom: solid 1px #ECECEC;
}
.title-link{
    color: #2196F3;
    font-size: 26px;
    font-family: Raleway;
    font-weight: 700;
    letter-spacing: 0.78px;
}

.title-logo{
    color: black;
    font-size: 26px;
    font-family: Raleway;
    font-weight: 700;
    letter-spacing: 0.78px;
}
.subtitle-logo{
    color:#FFFFFF;
    font-size: 26px;
    font-family: Raleway;
    font-weight: 700;
    letter-spacing: 0.78px;
}
.title-button{
    color: #FFFFFF;
}
.link:hover{
    color: #2196F3;
}
.nav-list{
    display: flex;
    gap: 50px;
    margin-left: -125px;
}
    
.header-list{
    display: flex;
    gap: 50px;
}
.nav-item{
    color: #212121;;
    font-size: 14px;
    letter-spacing: 0.28px;
    font-weight: 500;
}
.header-link:hover{
    color:#2196F3;
}
.item-contact{
    color: #757575;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.28px;
}
.item-contact:hover{
    color: #2196F3;
}
/* =========================MAIN====================== */
main{
    padding: 0;
}
.hero{
    content: '';
    background-image: linear-gradient(to top, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
                      url(../img/Img67.png);
    background-size: cover;
    padding: 300px 0px 300px 0px;
}

.h1{
    color: #FFFFFF;
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    letter-spacing: 2.64px;
    text-transform: uppercase;
    text-align: center;
    display: flex;
    align-items: center;
    width: 696px;
}

.button{
    color: #FFFFFF;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.96px;
    font-weight: 700;
    border-radius: 4px;
    background: #2196F3;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    display: flex;
    margin-top: 30px;
    justify-content: center;
    align-items: center;
    width: 216px;
    height: 50px;
}
/* -----------------modal------------------- */
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 1;
  }
  
  .backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
  }
  
  .no-scroll {
    overflow: hidden;
  }
  
  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 400px;
    min-height: 300px;
    padding: 15px;
    background-color: rgba(255, 255, 255, 1);
    transform: translate(-50%, -50%);
}
.btn:hover{
    border-radius: 100%;
    border: 1px solid black;
}
.btn{
    background-color:  rgba(255, 255, 255, 1);
    border: none;
    position: relative; 
left: 450px;


}
.modal{
}
.modal-data{
    display: flex;
    flex-direction: column;
    margin-bottom: 8px;
    position: relative;
}
.modal-input::before {
    content: "";
    position: absolute;
}
.input-person{
    background-image: url(../img/person.svg);
    background-repeat: no-repeat;
    background-position: left;
}
.input-phone{
    background-image: url(../img/phone.svg);
background-repeat: no-repeat;
background-position: left;
}
.input-email{
    background-image: url(../img/email.svg);
    background-repeat: no-repeat;
    background-position: left;
}
.modal-input{
    border-radius: 4px;
    padding: 8px;
    border: 1px solid black;
}
.modal-conditions{
    color: rgba(33, 150, 243, 1);
}
.modal-link{
    text-decoration: underline;
}
.modal-text{
    border: 1px solid black;
    border-radius: 4px;
}
.modal-button{
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    width: 200px;
    height: 50px;
    background: rgba(33, 150, 243, 1);
    border: none;
    margin-top: 30px;
    margin-left: 140px;
}

/* ---------------tabs----------------- */
.tabs-list{
    display: flex;
    align-items: center;
    padding: 25px 0;
    margin: 94px 0;
    gap: 30px;
}
.tabs-item{
    
}
.tabs-item::before{
    content: '';

    display: block;
    
    width: 248px;
    height: 120px;

    background-color: #F5F4FA;
    background-position: center;
    background-repeat: no-repeat;
}
.tabs-item:nth-child(1)::before{
background-image: url(../img/antenna1.svg);
}
.tabs-item:nth-child(2)::before{
background-image: url(../img/clock1.svg);
    
}
.tabs-item:nth-child(3)::before{
background-image: url(../img/diagram1.svg);
}
.tabs-item:nth-child(4)::before{
background-image: url(../img/astronaut1.svg);
}
.subtitle{
    color: #212121;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.42px;
    text-transform: uppercase;
    display: block;
    text-align: left;
    margin-top:30px;
}
.subtitle{
    margin-bottom: 10px;
}
.tabs-text{
    color: #757575;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.42px;
}
/* ------------------Pege-img>work--------------- */
.work{
    color: #212121;
    font-weight: 700;
    font-size: 36px;
    letter-spacing: 1.08px;
    text-align: center;
    margin-bottom: 50px;
}
.work-img{

}
.work-div{
    display: inline-flex;
    justify-content: space-between;
    position: relative;

  
}
.work-text{
    color: rgba(255, 255, 255, 1);
font-size: 14px;
font-weight: 700;
line-height: 16.41px;
letter-spacing: 0.03em;
text-align: center;
}
.work-text{
    position: absolute;
    bottom: 27px;
}
.work-text{
    position: absolute;
    bottom: 0;
    background-image: url(../img/bg.svg);
    width: 370px;
    padding-top: 27px;
    padding-bottom: 27px;
}

/* ------------------team------------------ */
.team{
    background-color: #F5F4FA;
    margin-top: 94px;

}
.team-subtitle{
    color: #212121;
    font-weight: 700;
    font-size: 36px;
    letter-spacing: 1.08px;
    text-align: center;
    padding-top: 94px;
    padding-bottom: 50px;

}
.team-list{
    display: flex;
    justify-content: center;
    gap: 30px;
    padding-bottom: 94px;
    
    

}
.items{
    height: 428px;
    border-radius:4px;
    background: #FFFFFF;
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.20), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);

}
.team-card{   
    margin-bottom: 30px;
}
.team-div{
    display: flex;
    justify-content: center;
    gap: 34px;
    
}
.team-div
.team-block{
    display: flex;
    justify-content: center;
    padding-top: 12px;
}
.team-block:hover{
    background-image: url(../img/team-animated.svg);
width: 44px;
height: 44px;

}
.team-link{

}
.team-svg{
    fill: rgba(175, 177, 184, 1);
    width: 20px;
    height: 20px;
}
.team-svg:hover{
    fill: rgba(255, 255, 255, 1);

}
.team-img{
}
.card-item{
    color: #212121;
    font-size: 18px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 1.08px;
}
.card-text{
    color: #757575;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.48px;
}
.img-title{
    color: #212121;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.48px;
    text-align: center;
    padding-bottom: 10px;

}
.img-text{
    color: #757575;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.48px;
    text-align: center;
    padding-bottom: 30px;

}
/* ----------------------------clients-------------- */
.clients-title{
font-size: 36px;
font-weight: 700;
line-height: 42.19px;
letter-spacing: 0.03em;
text-align: center;

padding-top: 94px;
}
.clients-text{
font-size: 6px;
font-weight: 700;
line-height: 7.03px;
text-align: left;
text-align: center;

padding-top: 25px;
padding-bottom: 19px;
}
.clients-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 103px;
}
.clients-list{
gap: 30px;
}
.clients-item{
    width: 170px;
height: 92px;
border-radius: 4px;
border: 1px solid black;

}
.clients-item{
    gap: 94px;
    display: flex;
    justify-content: center;
    padding-top: 16px;
}
.clients-img{
    fill: rgba(175, 177, 184, 1);
    
}
.clients-svg
.clients-img:hover{
    fill:rgba(33, 150, 243, 1);
    border: 1px solid rgba(33, 150, 243, 1)
}
/* ============================FOOTER====================== */
.footer{
    display: flex;
    flex-wrap: wrap;
    background-color: #2F303A;
}
.footer-logo {
    padding-top: 60px;
    padding-bottom: 20px;
    display: flex;
    margin-left: 190px;
}
.footer-logo-first{
    color: #2196F3;
    font-family: Raleway;
    font-weight: 700;
    font-size: 26px;
    letter-spacing: 0.78px;
}
.footer-logo-second{
    color: #FFFFFF;
    font-family: Raleway;
    font-weight: 700;
    font-size: 26px;
    letter-spacing: 0.78px;
}

.footer-item{
    color: #FFFFFF;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.42px;
    display: flex;
    margin-left: 190px;
}
.footer-link{
    color:#FFFFFF99;    ;
    font-weight: 400;
    line-height: 24px;
    font-size: 14px;
    letter-spacing: 0.42px;
    display: flex;
    padding-bottom: 60px;
    margin-left: 190px;
}
.footer-link:nth-child(2){
    padding-bottom: 0;
}
.footer-list{
}
/* -----------------join----------------------- */
.join-title{
    color: rgba(255, 255, 255, 1);
font-size: 14px;
font-weight: 700;
line-height: 16.41px;
letter-spacing: 0.03em;
text-align: left;

padding-bottom: 32px;
}
.join{
    padding-top: 72px;
    padding-left: 70px;
}
.loin-div{
    background-image: url(../img/fon.svg);
background-size: contain;
width: 44px;
height: 44px;
background-repeat: no-repeat;
background-position: center;
}
.loin-div:hover{
    background-image: url(../img/team-animated.svg);
}
.join-list{
    display: flex;
    gap: 10px;
}
.join-item{
    display: flex;
    justify-content: center;  
    padding-top: 12px;
}
.join-img{
fill: rgba(255, 255, 255, 1);
}
.join-svg{
    width: 20px;
    height: 20px;
}
/* ------------------sudscription------------- */
.sudscription{
    margin-top: 72px;
    margin-left: 93px;
}
.sudscription-title{
    color: rgba(255, 255, 255, 1);
font-size: 14px;
font-weight: 700;
line-height: 16.41px;
letter-spacing: 0.03em;
text-align: left;
}
.sudscription-form{
    padding-top: 20px;
}
.sudscription-input{
    width: 358px;
height: 50px;
border-radius: 4px;
border: 1px solid gray;
background-color: rgba(47, 48, 58, 1);
}
.sudscription-svg{
    width: 24px;
height: 24px;
}
.sudscription-img{
    fill: rgba(255, 255, 255, 1);
}
.sudscription-button{
    background-color: rgba(33, 150, 243, 1);
    width: 200px;
    height: 55px;
    border-radius: 4px;
}
.sudscription-span{
color: rgba(255, 255, 255, 1);
font-size: 16px;
font-weight: 700;
line-height: 30px;
letter-spacing: 0.06em;
text-align: center;

}