.container {
    width: 1300px;
    margin: 0 ;
    padding: 0 100px;
  }
body{
    font-family: Roboto; 
    word-wrap: break-word   
}
a{
    text-decoration: none;
    color: currentColor;
}
li{
    list-style: none;
}
/* =============================HEADER====================== */

.title-link{
    color: #2196F3;
    font-size: 26px;
    font-family: Raleway;
    font-weight: 700;
    letter-spacing: 0.78px;
}
.header-nav{

}
.main-list-all{

}
.header-all:hover{
    color:#2196F3;
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0.48px;
}
.title-logo{
    color: black;
    font-size: 26px;
    font-family: Raleway;
    font-weight: 700;
    letter-spacing: 0.78px;
}
.subtitle-logo{
    color:#FFFFFF;
    font-size: 26px;
    font-family: Raleway;
    font-weight: 700;
    letter-spacing: 0.78px;
}
.title-button{
    color: #FFFFFF;
}
.link:hover{
    color: #2196F3;
}
.nav-list{

}
.header-list{

}
.header-link{
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.28px;
}

/* =========================MAIN====================== */
.main-service{
    background-color: #2F303A;
}

h1{
    color: #FFFFFF;
    text-align: center;
    font-size: 44px;
    font-weight: 900;
    text-transform: uppercase;
    line-height: 60px;
    letter-spacing: 2.64px;
}
button{
    background-color: #2196F3;
    font-size: 16px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0.96px;
}
.main-service-text{

}
.main-service-list{

}
.main-service-item{

}
.main-service-img{

}
.subtitle{
    color: #212121;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.42px;
}
.service-text{
    color: #757575;
    font-size: 14px;
    font-weight:400;
    line-height: 24px;
    letter-spacing: 0.42px;
}
.service-title{
    color: #212121;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    letter-spacing: 1.08px;
}
.main-service-cards{

}
.service-subtitle{
    color: #212121;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    letter-spacing: 1.08px;
}
.service-list{

}
.main-service-cards{

}
.header-service-img{

}
.card{
    text-align: center;
    display: inline-block;

}
.card-item{
    color: #212121;
    font-size: 18px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 1.08px;
}
.card-text{
    color: #757575;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.48px;
}
.img-item{
    color: #212121;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.48px;

}
.img-text{
    color: #757575;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.48px;

}
/* ============================FOOTER====================== */
.footer-service{
     background: #2F303A;
}
.footer-item{
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.42px;

}
.footer-link{
    color: #FFFFFF99;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.42px;

}