.footer{
    display: flex;
    flex-wrap: wrap;
    background-color:rgba(47, 48, 58, 1);
}
.footer-logo {
    padding-top: 60px;
    padding-bottom: 20px;


}

.footer-logo-first{
    color: $colorblue;
    @extend %font;
font-size: 30px;
}
.footer-logo-second{
    color: $colorwhite;
    @extend %font;
    font-size: 30px;
}

.footer-item{
    color: #FFFF;
    @extend %size;

}
.footer-link{
    color: $colorwhitelite;    ;
    @extend %size;

    padding-bottom: 60px;
}
.footer-link:nth-child(2){
    padding-bottom: 0;
}
@media screen and (min-width:320px) and (max-width:767.98px){
    .footer-list{
        padding-left: 20px;
align-items: center;
    }
    .footer-logo{
        display: flex;
        justify-content: center;
    }
    .footer-item{
        text-align: center;
    }
    .footer-link{
        text-align: center;
    }
    .footer-list{
    }
}
@media screen and (min-width:767.98px) and (max-width:1199.98px){
    .footer-list{
        padding-left: 0;
        
    }
    .footer-logo{
        display: flex;
        padding-left: 100px;
    }
    .footer-item{
        margin-left: 74px;
    }
    .footer-link{
margin-left: 105px;
    }
}
@media (min-width:1199.98px){
    .footer-logo{
        display: flex;
    }
    .footer-list{
    }
}
