.footer{
    display: flex;
    flex-wrap: wrap;
    background-color: $colorbackground ;
}
.footer-logo {
    padding-top: 60px;
    padding-bottom: 20px;
    display: flex;
    margin-left: 190px;
}
.footer-logo-first{
    color: $colorblue;
    @extend %font;
}
.footer-logo-second{
    color: $colorwhite;
    @extend %font;
}

.footer-item{
    color: $colorwhite;
    @extend %size;
    display: flex;
    margin-left: 190px;
}
.footer-link{
    color: $colorwhitelite;    ;
    @extend %size;
    display: flex;
    padding-bottom: 60px;
    margin-left: 190px;
}
.footer-link:nth-child(2){
    padding-bottom: 0;
}