.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px;
    border-bottom: solid 1px #ECECEC;
}
.title-link{
    @extend %font;
    color: #2196F3;
}

.title-logo{
    @extend %font;
    color: $colorblack;
}
.subtitle-logo{
    @extend %font;
    color:$colorwhite;
}
.title-button{
    color: $colorwhite;
}
.link:hover{
    @extend %transition;
    color:$colorblue;
    transition-property: color;
}
.nav-list{
    display: flex;
    gap: 50px;
    margin-left: -125px;
}
    
.nav-item{
    color: $colorblacklite;
    font-size: 14px;
    letter-spacing: 0.28px;
    font-weight: 500;
    }
.header-link:hover{
    @extend %transition;
    color: $colorblue;
    transition-property: color;
}
.active{
    position: relative;
}
.active::after{
    position: absolute;
    content: '';
    width: 100%;
    height: 4px;
    background-color: #2196F3;
    display: block;
    margin-top: 28px;
    border-radius: 2px;
}