.join-title{
    color: $colorwhite;
font-size: 14px;
font-weight: 700;
line-height: 16.41px;
letter-spacing: 0.03em;
text-align: center;

padding-bottom: 32px;
// margin-left: 10px;

}
// .join{
//     padding-top: 72px;
//     padding-left: 70px;
// }
.loin-div{
    background-image: url(../img/fon.svg);
background-size: contain;
width: 44px;
height: 44px;
background-repeat: no-repeat;
background-position: center;

&:hover{
    @extend %transition;
    background-image: url(../img/team-animated.svg);
    transition-property: background-image ;
}
}

.join-list{
    display: flex;
    justify-content: center;
    // padding-left: 40px;
    gap: 10px;
    padding-bottom: 60px;
}
.join-item{
    display: flex;
    justify-content: center;  
    padding-top: 12px;
}
.join-img{
fill: rgba(255, 255, 255, 1);
}
.join-svg{
    width: 20px;
    height: 20px;
}
@media (min-width:767.98px){
    .join-title{
        text-align: end;
        margin-right: 119px;
    }  
    .join-list{
        justify-content: end;
        margin-right: 78px;
    }
    .join{
        margin-top: -185px;
    }
}
@media (min-width:1199.98px){
    .join-title{
        text-align: center;
        margin-right: 350px;
    }  
    .join{
        margin-top: -165px;
    }
    .join-list{
justify-content: center;
margin-right: 300px;
    }
}