.join-title{
    color: $color-white;
font-size: 14px;
font-weight: 700;
line-height: 16.41px;
letter-spacing: 0.03em;
text-align: left;

padding-bottom: 32px;
}
.join{
    padding-top: 72px;
    padding-left: 70px;
}
.loin-div{
    background-image: url(../img/fon.svg);
background-size: contain;
width: 44px;
height: 44px;
background-repeat: no-repeat;
background-position: center;

&:hover{
    background-image: url(../img/team-animated.svg);
    transition-property: background-image ;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

}
}

.join-list{
    display: flex;
    gap: 10px;
}
.join-item{
    display: flex;
    justify-content: center;  
    padding-top: 12px;
}
.join-img{
fill: rgba(255, 255, 255, 1);
}
.join-svg{
    width: 20px;
    height: 20px;
}