.sudscription{
    margin-top: 72px;
    margin-left: 93px;
}
.sudscription-title{
    color: rgba(255, 255, 255, 1);
font-size: 14px;
font-weight: 700;
line-height: 16.41px;
letter-spacing: 0.03em;
text-align: left;
}
.sudscription-form{
    padding-top: 20px;
}
.sudscription-input{
    width: 358px;
height: 50px;
border-radius: 4px;
border: 1px solid gray;
background-color: rgba(47, 48, 58, 1);
}
.sudscription-svg{
    width: 24px;
height: 24px;
}
.sudscription-img{
    fill: rgba(255, 255, 255, 1);
}
.sudscription-button{
    background-color: rgba(33, 150, 243, 1);
    width: 200px;
    height: 55px;
    border-radius: 7px;
    margin-left: 12px;
}
.sudscription-span{
color: rgba(255, 255, 255, 1);
font-size: 16px;
font-weight: 700;
line-height: 30px;
letter-spacing: 0.06em;
text-align: center;

}