.tabs-list{
    display: flex;
    padding: 25px 0;
    // margin: 94px 0;
    gap: 30px;
    flex-wrap: wrap;
    margin-bottom: 40px;
}
.tabs-item::before{
    content: '';

    display: block;
    
    height: 120px;

    background-color: #F5F4FA;
    background-position: center;
    background-repeat: no-repeat;
}
.tabs-item:nth-child(1)::before{
background-image: url(../img/antenna1.svg);
}
.tabs-item:nth-child(2)::before{
background-image: url(../img/clock1.svg);
    
}
.tabs-item:nth-child(3)::before{
background-image: url(../img/diagram1.svg);
}
.tabs-item:nth-child(4)::before{
background-image: url(../img/astronaut1.svg);
}

.subtitle{
    color: $colorblacklite;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.42px;
    text-transform: uppercase;
    display: block;
    // text-align: center;


    margin-top:30px;
}
.subtitle{
    margin-bottom: 10px;
}
.tabs-text{
    @extend %size;
    color: $colorgraylite;
}
@media screen and (min-width:320px) and (max-width: 767.98){
    .subtitle{
        text-align: center;
    }
}
@media screen and (min-width:767.98px) and (max-width:1199.98px){
    .tabs-item::before{
        width: 354px;
        margin-left: 100px;
    }
.subtitle{
        text-align: center;
    }
    .tabs-item{
        margin-left: 100px;
    }
}
@media (min-width:1199.98px){
    .tabs-item::before{
        width: 270px;
    }
    .tabs-text{
        width: 270px;
    }
    .tabs-list{
        margin: 94px 0;
    }
}