$clients-color: rgba(33, 150, 243, 1);
$clients-color-img:rgba(175, 177, 184, 1);
$color-black:black;
$color-gray-lite:#757575;
$color-blue: #2196F3;
$color-background:#2F303A;
$color-white: #FFFFFF;
$color-white-lite:#FFFFFF99;
$color-black-lite:#212121;
$color-milk:rgba(255, 255, 255, 1);
$color-gray:gray;