$clientscolor: rgba(33, 150, 243, 1);
$clientscolor-img:rgba(175, 177, 184, 1);
$colorblack:black;
$colorgraylite:#757575;
$colorblue: #2196F3;
$colorbackground:#2F303A;
$colorwhite: #FFFFFF;
$colorwhite-lite:#FFFFFF99;
$colorblacklite:#212121;
$colormilk:rgba(255, 255, 255, 1);
$colorgray:gray;
$colormix:rgba(47, 48, 58, 1);